<h1>Employee</h1>

<div class="container">

    <div class="alert alert-warning" *ngIf="employeeForm.dirty && employeeForm.invalid">Enter valid values</div>

    <form (ngSubmit)="!employeeForm.invalid && saveEmployee()" #employeeForm="ngForm">
        <fieldset class="form-group">
            <label>First Name</label>
            <input type ="text" #firstName ="ngModel" 
            [(ngModel)] ="employee.firstName" class ="form-control" 
            name="firstName" required="required" minlength="5">
        </fieldset>
        
        <fieldset class="form-group">
            <label>Last Name</label>
            <input type ="text" #lastName ="ngModel" 
            [(ngModel)] ="employee.lastName" class ="form-control" 
            name="lastName" required="required" minlength="5">
        </fieldset>

        <fieldset class="form-group">
            <label>Email</label>
            <input type ="text" #email ="ngModel" 
            [(ngModel)] ="employee.email" class ="form-control" 
            name="email" required="required" minlength="8">
        </fieldset>
        

        <button type="submit" class="btn btn-success">Save</button>
    </form>

</div>
