<h4>List Of Employee</h4> 

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Update</th>
        <th>Delete</th>
        
    </tr>
</thead>
<tbody>
    <tr *ngFor = " let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td><button (click) ="updateEmployee(employee.id)" class = "btn btn-success">Update</button></td>
        <td><button (click) ="deleteEmployee(employee.id)" class = "btn btn-warning">Delete</button></td>
    </tr>
</tbody>
</table>
<div class="row">
    <button (click) ="addEmployee()" class = "btn btn-success">Add</button>
</div>
</div>